<template>
  <div id="app">
    <!-- <LoadingPage v-show="isLoadingPage" /> -->

    <template v-if="!isLoadingPage">
      <Header />
      <div class="app-wrapper">
        <slot />
      </div>
      <Footer />
    </template>
  </div>
</template>

<script lang="ts" setup>
//implement scroll to top button
const defaultX = "translate-x-70";
const translateBtn = ref<string>(defaultX);
const isLoadingPage = useState<boolean>('isLoadingPage', () => false)
const showLoadingPage = () => {
setTimeout(() => {
  isLoadingPage.value = false
},3000)
}

const router = useRoute()
watch(() => router.path, () => {
  console.log(router.path)
  isLoadingPage.value = true
  showLoadingPage();
})


</script>

<style lang="scss">
#app {
  width: 100vw;
  .scr-to-top-btn {
    position: fixed;
    right: 20px;
    bottom: 16%;
    z-index: 50;
    transition: all 0.7s ease-in-out;
    font-size: 16px;
    background-color: var(--color-bg-opposite);
    color: var(--color-fg-opposite);
    border: 2px solid $color-green;
    border-radius: 40px;
    cursor: pointer;
  }
}

.app-wrapper {
  margin-top: var(--header-height);
  min-height: 100vw;
}
</style>
