<template>
  <div class="BeforeAfterSlide">
    <input
      class="pull-slider"
      type="range"
      min="0"
      :max="props.maxRange"
      step="1"
      :value="slide.inputVal.value"
      @input="onChangeSlider(slide, $event)"
    />
    <div class="before-img" :style="{ width: slide.beforeImgWidth.value }">
      <div
        class="a-img"
        :style="{
          backgroundImage: `url(${beforeImg ? beforeImg : iconDummyImage})`,
        }"
      ></div>
    </div>
    <div class="after-img">
      <div
        class="a-img"
        :style="{
          backgroundImage: `url(${afterImg ? afterImg : iconDummyImage})`,
        }"
      ></div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { Ref } from "nuxt/dist/app/compat/vue-demi";
import { loadImgSrc } from "~~/client/lib/core/utils/loadImgSrc";
import iconDummyImage from "@/assets/icons/icon-image.svg";

export interface BASlide {
  beforeImg: string;
  afterImg: string;
  inputVal: Ref<string>;
  beforeImgWidth: Ref<string>;
}
const props = defineProps<{
  slide: BASlide;
  maxRange: number;
  widthContainer: number;
}>();

const onChangeSlider = (slide: BASlide, e: Event) => {
  let target = e.target as HTMLInputElement;
  let val = `${
    (parseInt(target.value) / props.maxRange) * props.widthContainer
  }px`;
  slide.inputVal.value = target.value;
  slide.beforeImgWidth.value = val;
};

const before = await loadImgSrc(props.slide.beforeImg);
const beforeImg = computed(() => before);
const after = await loadImgSrc(props.slide.afterImg);
const afterImg = computed(() => after);
</script>

<style lang="scss">
.BeforeAfterSlide {
  --container-offset: 60px;
  --container-width: calc(100% - var(--container-offset) * 2);
  width: var(--container-width);
  left: var(--container-offset);
  position: relative;
  overflow: hidden;

  --thumb-size: 44px;
  .pull-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: transparent url("/assets/icons/icon-double-arrow.svg") no-repeat;
    cursor: pointer;
    height: var(--thumb-size);
    width: var(--thumb-size);
  }

  .pull-slider::-moz-range-thumb {
    appearance: none;
    background: transparent url("/assets/icons/icon-double-arrow.svg") no-repeat;
    cursor: pointer;
    height: var(--thumb-size);
    width: var(--thumb-size);
    margin-left: -1px;
  }

  .pull-slider {
    border: 0;
    -webkit-appearance: none;
    word-break: normal;
    background: transparent;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% + 44px);
    left: -22px;
    z-index: 20;
    padding: 0;
  }

  .before-img {
    border-right: 0.25rem solid #dcff28;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 12;
  }

  .after-img {
    background-color: rgba(0, 110, 183, 0.4);
    height: 100%;
    width: 100%;
  }

  .a-img::before {
    content: "";
    display: block;
    padding-bottom: 50%;
  }

  .a-img {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media only screen and (max-width: 480px) {
    height: 200px;
    --container-offset: 30px;
    --container-width: calc(100% - var(--container-offset) * 2);
    --thumb-size: 24px;
    /*.before-img, after-img {
      height: 200px;
    }*/
  }
}
</style>
