<template>
  <swiper
    class="Swiper"
    :modules="modules"
    navigation
    :slides-per-view="props.slidesPerView"
    :space-between="props.space"
    :allow-touch-move="props.slideType === 'img'"
  >
    <swiper-slide v-for="(slide, index) in props.slides" :key="index">
      <div v-if="props.slideType === 'img'" class="slide-img-container">
        <!-- <img :src="`${slide}`" /> -->
        <Image :path="`${slide}`" />
      </div>

      <div v-else-if="props.slideType === 'before-after'" class="slide-ba-container">
      <BeforeAfterSlide :slide="toBASlide(slide)" :maxRange="maxRange"
      :widthContainer="widthContainer"/>
      </div>
    </swiper-slide>
  </swiper>
</template>

<script lang="ts" setup>
import { Swiper, SwiperSlide, useSwiper } from "swiper/vue";
import { Navigation, Pagination, Scrollbar, A11y } from "swiper";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/scrollbar";
import {BASlide} from "../content/BeforeAfterSlide.vue";

interface Props {
  slideType?: "img" | "before-after"  
  slides: string[] & string[][]
  slidesPerView?: number
  spaceBetween?: number
  width?: number
  height?: number
}
const maxRange = computed(() => {
  if (isMobile.value)
    return 267; 
  else 
    return 660; 
});
const widthContainer = computed(() => {
  if (isMobile.value)
    return 267; 
  else 
    return 660; 
});
const isMobile = useMediaQuery("(max-width: 480px)");

const props = withDefaults(defineProps<Props>(), {
  slideType: 'img',
  slides: undefined,
  slidesPerView: 1,
  space: 30,
  width: 270,
  height: 270
})

const toBASlide = (slide: string[]): BASlide => {
  if (!slide) return;
  return {
    beforeImg: slide[0],
    afterImg: slide[1],
    inputVal: ref(`${maxRange / 2}`),
    beforeImgWidth: ref('50%')
  }
}

const modules = [Navigation, Pagination, Scrollbar, A11y];
</script>

<style lang="scss">
.Swiper {
  color: var(--color-foreground);
  max-height: 600px;
  --slider-img-height: 400px;
  .slide-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: var(--slider-img-height);

    img {
      height: auto;
      border-radius: 16px;
      width: 100%;
      max-width: calc(var(--content-width) * 2/3 - 100px);
      object-fit: contain;
    }
    .swiper-button-next, .swiper-button-prev {
      top: calc(var(--slider-img-height) * 0.5);
    }
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    color: $color-green-400;
    font-weight: 700;
  }

  @media only screen and (max-width: 480px) {
    width: var(--content-width);
    height: 270px;
    --slider-img-height: 200px;
    .slide-img-container {
      img {
        max-width: calc(var(--content-width) - 50px);
        height: 200px;
        object-fit: fill;
      }
    }
  }
  .swiper-button-next, .swiper-button-prev {
    top: calc(var(--slider-img-height) * 0.5 );
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 24px;
  }
  .swiper-button-prev {
    left: 0px;
  }
  .swiper-button-next {
    right: 0px;
  }
}
</style>
