<template>
  <article class="content-width-boxed post">
    <ContentRenderer :value="post" class="markdown" :class="{ blur: hasToc }" />
    <div v-if="post.excerpt" class="table-of-content">
      <div class="wrapper">
        <p class="font-bold mb-16 text-20">{{ t("page.post.toc") }}</p>
        <ul class="space-y-1">
          <template v-for="(t, k) in toc" :key="`toc-item-${k}`">
            <li>
              <NuxtLink
                :class="{
                  'depth-2': t.depth === 2,
                  'depth-gt-2': t.depth > 2,
                }"
                class="capitalize"
                :to="`#${t.id}`"
              >
                {{ t.title }}
              </NuxtLink>
            </li>
          </template>
        </ul>
      </div>
    </div>

    <button v-if="isMobile" :class="`toc-btn `" @click="toggleToc">
      <img :src="iconToc" alt="toc" />
    </button>
  </article>
</template>

<script lang="ts" setup>
// import { gsap } from "gsap";
import { useToc } from "~~/client/composables/useToc";
import iconToc from "@/assets/icons/icon-toc.svg";
import {useLang} from "~~/client/composables/useLang";

const { t } = useLang();
const route = useRoute();
const locale = useState<string>("locale.setting");
let slug = route.params ? route.params.slug[0] : "";
const flag = ref(true);
const { data: post } = await useAsyncData(
  "test",
  () =>
    queryContent(locale.value, "posts")
      .where({ slug: { $eq: slug } })
      .findOne(),
  { watch: [locale, flag] }
);

// const tl = gsap.timeline({ paused: true });
onMounted(() => {
  //https://github.com/nuxt/framework/issues/4855
  flag.value = false;
  // tl.to(".table-of-content", {
  //   left: "calc( (100vw - var(--content-width)) / 2)",
  // });
});
useHead({
  title: `${post.value.title}`,
});
const toc = useToc(post);

const isMobile = useMediaQuery("(max-width: 480px)");
const hasToc = ref<boolean>(false);
// const animTocMobile = () => {
//   if (hasToc.value) {
//     tl.play();
//   } else {
//     tl.reverse();
//   }
// };
const toggleToc = () => {
  hasToc.value = !hasToc.value;
  // animTocMobile();
};

watch( () => route.hash, () => {
    if (hasToc.value) {
      hasToc.value = false;
      // animTocMobile();
    }
  }
);

</script>

<style lang="scss">
.toc-btn {
  position: fixed;
  right: 20px;
  bottom: 22%;
  z-index: 50;
  transition: all 0.7s ease-in-out;
  font-size: 16px;
  background-color: var(--color-bg-opposite);
  color: var(--color-fg-opposite);
  border: 2px solid $color-green;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 24px;
  img {
    width: 18px;
    height: 18px;
  }
}
</style>
