<template>
  <footer id="Footer">
    &copy; {{ new Date().getFullYear() }} Coded with
    <span class="icon">
      <img src="@/assets/icons/icon-beer.svg" alt="icon-beer" />
    </span>
    by
    <span class="italic"> ndkhoa </span>
    <br />
    This page is heavily inspired from
    <template v-if="isMobile">
      <p v-for="(t, i) in teachers" :key="i" class="text-center teachers"> {{ t }}</p>
      <!-- <p class="mb-12"> and other awesome people from open source community</p> -->
    </template>

    <template v-else>
      <span class="teachers" v-for="(t, i) in teachers" :key="i"> {{ t }}</span>
      <!-- <span class="mb-12"> and other awesome people from open source community</span> -->
    </template>

  </footer>
</template>

<script lang="ts" setup>
const isMobile = useMediaQuery("(max-width: 480px)");
const teachers = [
  "Bolby Template",
  "Ricardo Zanutta",
  "JoshwComeau",
  "Dinesh Balaji",
  "Servet Gulnaroglu "
];
</script>

<style lang="scss">
#Footer {
  border-top: solid 1px var(--color-border);
  min-height: 80px;
  text-align: center;
  padding: 20px 0;
  color: var(--color-foreground);
  font-size: 16px;

  img {
    display: inline;
    width: 20px;
    height: 20px;
  }
  span.italic {
    font-style: italic;
  }
  .teachers {
    color: var(--color-green-400);
    font-weight: 700;
  }
  span.teachers::after {
    content: ' ';  
  }
  @media only screen and (max-width: 480px) {

  }
}
</style>
