<template>
  <header id="header">
    <div class="header-wrapper content-width-boxed">
      <NuxtLink
        tag="a"
        class="header-logo transition-colors duration-300"
        :to="{ name: 'index' }"
      >
        <span class="flex items-center">
          <svg
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            class="inline-block mr-8 text-lg text-green-600"
          >
            <path
              fill="currentColor"
              d="M9.078 3.965c-.588 0-1.177.289-1.514.867L.236 17.433c-.672 1.156.17 2.601 1.514 2.601h5.72a1.676 1.676 0 0 1-.35-2.117l5.547-9.513l-2.076-3.572a1.734 1.734 0 0 0-1.513-.867zm7.407 2.922c-.487 0-.973.236-1.252.709L9.17 17.906c-.557.945.138 2.13 1.251 2.13h12.13c1.114 0 1.81-1.185 1.253-2.13l-6.067-10.31a1.437 1.437 0 0 0-1.252-.71z"
            ></path>
          </svg>
          {{ app.name }}
        </span>
      </NuxtLink>

      <div class="header-options">
        <!-- <ThemeSwitcher /> -->

      </div>
    </div>

    
  </header>
</template>

<script lang="ts" setup>
import { IApp } from "@/lib/project/app";
import { useLang } from "@/composables/useLang";
import { availableLocales } from "@/lib/project/lang";
import { ITheme } from "@/lib/project/theme";
import { RouteLocationRaw } from "vue-router";

export interface IMenuItem {
  type: "link" | "button";
  text: string;
  href?: any;
  route?: any;
}

//declaration

const app = useState<IApp>("app");

const menus = computed((): IMenuItem[] => [
  {
    type: "link",
    text: t("header.nav.skills.title"),
    route: { path: "/", hash: "#skills" },
  },
  {
    type: "link",
    text: t("header.nav.works.title"),
    route: { path: "/", hash: "#works" },
  },
  // {type: "link", text: t("header.nav.contact.title"), route: {name: ""}},
]);

const { t } = useLang();
const localeSetting = useState<string>("locale.setting");
const theme = useState<ITheme>("theme.current");
const moonUrl = "/assets/icons/icon-moon.svg";
const sunUrl = "/assets/icons/icon-sun.svg";

//data
let data = reactive({
  langNames: Object.entries(availableLocales).map((item) => {
    return { value: item[1].iso, label: item[1].name };
  }),
  repoUrl: "https://gitlab.com/NDK2020/nuxt-ndk-portfolio",
  themeUrl: computed(() => (theme.value === "dark" ? sunUrl : moonUrl)),
  showMenu: false,
});

const switchTheme = () => {
  theme.value = theme.value === "dark" ? "light" : "dark";
};

const handleChangeSwitchLanguage = (value: string) => {
  localeSetting.value = value;
};

onMounted(() => {

});



const navTo = (route: string | RouteLocationRaw) => {
  const router = useRouter();
  data.showMenu = !data.showMenu;
  setTimeout(() => {
    router.push(route);
  }, 1000);
};
</script>

<style lang="scss">
#header {
  border-bottom: solid 1px var(--color-border);
  height: var(--header-height);
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 100;
  background-color: var(--color-background);
  transition: height 0.3s ease;
  .header-menu-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    overflow: hidden;

    .LinkWrapper {
      font-size: 100px;
    }

    .popup-menu {
      width: 40%;
      height: 100%;
      display: flex;
      position: relative;

      .popup-skills,
      .popup-works {
        width: 50%;
        position: absolute;
        height: 100%;
        margin: auto 0;
        font-size: 100px;
        color: #fff;
      }

      @media only screen and (max-width: 480px) {
        width: 30%;
        .popup-skills,
        .popup-works {
          font-size: 16px;
          font-weight: 700x;
        }
        .popup-mask {
          display: none;
        }
      }

      .popup-mask {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background: #fff;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
        -webkit-transform: translateX(-100%);
      }

      .popup-skills {
        z-index: 11;
        background-color: var(--color-green);
        top: -100%;
        transition: transform 0.3s;
        .popup-mask {
          color: var(--color-green);
        }
        &:hover {
          span {
            transform: translateX(-100%);
          }
          .popup-mask {
            transform: translateX(0%);
          }
        }
      }

      .popup-works {
        background-color: var(--color-green-600);
        left: 50%;
        top: 100%;
        .popup-mask {
          color: var(--color-green-600);
        }
        &:hover {
          span {
            transform: translateX(-100%);
          }
          .popup-mask {
            transform: translateX(0%);
          }
        }
      }
    }
    /* end of popup menu */

    .popup-options {
      width: 60%;
      height: 100%;
      display: flex;
      position: relative;
      justify-content: flex-start;
      align-items: center;
      background-color: var(--color-green-700);
      left: 100%;
      ul.ul-options {
        width: 100%;
        padding: 0 40px;
        li {
        color: #fff;
          &.li-contact {
            font-weight: 200;
            font-size: 24px;
            line-height: 1.2;
            font-style: italic;
            span {
              text-decoration: underline;
              font-size: 20px;
            }
          }
          .Icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            svg {
              width: 48px;
              height: 48px;
            }
          }
        }

        ul.switch-language {
          li {
            &.curLang {
              color: var(--color-primary);
              font-weight: 700;
            }
          }
        }
      }

      @media only screen and (max-width: 480px) {
        width: 70%;
        ul.ul-options {
          padding: 0 10px;
          li.li-contact {
            font-size: 16px;
            span {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  /* header wrapper */
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 16px 0;
    width: var(--content-width);

    .header-logo {
      display: flex;
      align-items: center;
      width: 30%;
    }

    .header-options {
      display: flex;
      align-items: center;
      column-gap: 40px;

      .logo-gitlab {
        filter: $filter-red;
      }

      button.circle-nav__toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        padding: 4px 0;
        align-items: center;
        width: 36px;
        height: 36px;
        border: none;
        border-radius: 48px;
        background-color: var(--color-primary);
        -webkit-transition: background 0.3s;
        transition: background 0.3s;
        z-index: 1000;

        .top-bar,
        .mid-bar,
        .bottom-bar {
          background-color: var(--color-background);
          width: 16px;
          height: 2px;
          border-radius: 1px;
          z-index: 5;
        }
      }
    }
  }
}
</style>
