<template>
  <div class="LoadingPage">
    <div class="loading-wrapper">
      <svg
        width="303.81552"
        height="273.15375"
        viewBox="0 0 80.384518 72.271929"
        version="1.1"
        id="loading-logo"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg"
      >
        <defs id="defs2" />
        <g id="layer1" transform="translate(-61.741503,-55.602793)">
          <g
            aria-label="K"
            transform="scale(1.366461,0.73181745)"
            id="logo-text"
            style="
              font-size: 125.566px;
              font-family: 'Iosevka Curly Slab';
              -inkscape-font-specification: 'Iosevka Curly Slab, Normal';
              fill: none;
              stroke: #000000;
              stroke-width: 6;
            "
          >
            <path
              d="m 48.416394,171.50294 v -11.0498 h 4.897075 V 90.261742 H 48.416394 V 79.211934 h 22.476315 v 11.049808 h -4.897074 v 31.517068 q 1.381226,-2.51132 2.636886,-5.02264 1.381226,-2.63689 2.636886,-5.14821 1.381226,-2.63688 2.51132,-5.1482 1.25566,-2.63689 2.385754,-5.27378 1.130094,-2.636882 2.134622,-5.273768 1.130094,-2.762452 2.009056,-5.399338 0.878962,-2.762452 1.506792,-5.524904 0.753396,-2.888018 0.753396,-5.776036 h 18.207073 v 11.049808 h -7.157265 q -2.51132,7.659526 -6.152734,14.942358 -3.641414,7.28282 -7.659526,14.31452 2.260188,4.89707 4.39481,10.04528 2.134622,5.02264 4.143678,10.17085 2.009056,5.02264 3.76698,10.17084 1.88349,5.14821 3.13915,10.42198 v 0.12557 q 0,0 0,0 0,0 0,0 h 5.524907 v 11.0498 H 84.328271 q 0,-3.51584 -0.753396,-6.90613 -0.62783,-3.51584 -1.632358,-6.90613 -0.878962,-3.39028 -2.009056,-6.78056 -1.004528,-3.39028 -2.134622,-6.655 -1.130094,-3.39028 -2.385754,-6.655 -1.25566,-3.26471 -2.636886,-6.52943 -1.632358,2.63689 -3.390282,5.27377 -1.632358,2.63689 -3.390282,5.14821 v 18.96047 h 4.897074 v 11.0498 z"
              id="path901"
            />
          </g>
        </g>
      </svg>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { gsap } from "gsap";

const isLoadingPage = useState<boolean>('isLoadingPage')
let tl = gsap.timeline();
watch(isLoadingPage, () => {
  if (isLoadingPage.value)
    tl.restart();
})

const animPage = () => {
  tl.play();
}
onMounted(() => {
  tl.to(".loading-wrapper", {
    duration: 0.5,
    width: "100%",
    ease: "Expo.easeInOut",
  })
  .set("#loading-logo", {
    opacity: 1
  })
  .to(".loading-wrapper", {
    duration: 0.5,
    width: "100%",
    left: "100%",
    ease: "Expo.easeInOut",
    delay: 2,
  });

  //svgTotalLength: 475.7374572753906
});
</script>

<style lang="scss">
.LoadingPage {
  width: 100%;
  min-height: 100vh;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  .loading-wrapper {
    width: 0%;
    height: 100vh;
    position: relative;
    background-color: var(--color-green);
  }
  #loading-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    path {
      stroke-dasharray: 476;
      stroke-dashoffset: 476;
      animation: dashoffset 1s ease forwards;
      animation-delay: 1.5s;
    }
    #logo-text {
      animation: filltext 0.5s ease forwards ;
      animation-delay: 2.5s;
    }
  }

  @keyframes dashoffset {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes filltext {
    from {
      fill: transparent;
    }
    to {
      fill: var(--color-primary);
    }
  }
}
</style>
