<template>
  <main class="Homepage mt-200">
    <div class="content-width-boxed flex-col-center">
      <img alt="Vue logo" src="../assets/icons/icon-vue.svg" />
      <h3>Hello anh em</h3>
    </div>
  </main>
</template>

<script lang="ts" setup>
</script>

<style lang="scss">
.Homepage {

}
</style>
