
.post {
  margin-top: calc(var(--header-height) + 100px);
  margin-bottom: 100px;
  display: flex;
  @media only screen and (max-width: 480px) {
    margin-bottom: 40px;
  }
}

.markdown {
  width: calc(var(--content-width) * 2 / 3);
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 24px;
  }

  h2, h3, h4, h5, h6 {
    margin-top: 100px;
  }

  p {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
  }

  a:not(.VisitSiteButton) {
    @include transition-bg
  }

  @media only screen and (max-width: 480px) {
    width: var(--content-width);
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 16px;
    }
    h2, h3, h4, h5, h6 {
      margin-top: 40px;
    }
    p {
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 12px;
    }
  }


}

.table-of-content {
  width: calc(var(--content-width) * 1 / 3);
  padding-left: 80px;
  display: block;
  .wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: sticky;
    max-height: calc(100vh - var(--header-height));
    top: calc(var(--header-height) + 40px);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    ul {
      list-style-type: none;
      padding: 0;
      @include typo-default;
      padding-inline-start: 4px;
    }
    .depth-2 {
      margin-left: 8px;
    }

    // gt = greater than
    .depth-gt-2 {
      margin-left: 20px;
    }

    .depth-2,
    .depth-gt-2 {
      font-size: 16px;
      opacity: 0.8;
    }
  }
  @media only screen and (max-width: 480px) {
    width: var(--content-width);
    position: fixed;
    z-index: 10;
    padding-left: 0;
    left: 100%;
    .wrapper {
      position: block; 
      width: 100%;
    }
  }
}
