// colors
$text-color: #424242;
$color-light-blue: #fbfafc;
$color-white: #fffcfc;
$error-color: #ff6d6f;
$cyan-color: #14c1c2;
$color-dark: #353353;
$color-yellow: #ffd15c;
$color-red: #ff4c60;
$color-indigo: #6c6ce5;
$color-default: #454360;
$color-pink: #f20a72;

$color-green: #3ba676;
$color-green-50: #b4e4cf;
$color-green-100: #a5dfc5;
$color-green-200: #87d4b2;
$color-green-300: #69ca9e;
$color-green-400: #4bbf8b;
$color-green-500: #3ba676;
$color-green-600: #2c7d59;
$color-green-700: #1e533b;
$color-green-800: #0f2a1e;
$color-green-900: #000;

//filter
$filter-red: invert(38%) sepia(89%) saturate(1525%) hue-rotate(326deg)
  brightness(103%) contrast(103%);

@mixin transition($second) {
  -webkit-transition: all $second ease-in-out;
  -moz-transition: all $second ease-in-out;
  transition: all $second ease-in-out;
}

// fonts
$font-family: "Rubik", sans-serif;
$font-poppins: "Poppins";
$font-nunito: Nunito, sans-serif;

@mixin typo-default {
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.7;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//transition background
@mixin transition-bg($t-value: 65%) {
    background-image: linear-gradient(180deg, transparent $t-value, $color-green 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease;
    &:hover {
      color: var(--color-foreground);
      background-size: 100% 100%;
    }
}
// epxort ra cho jsx su dung
// :export {
//   primaryColor: $color-red;
//   errorColor: $error-color;
//   headerHeight: $header-height;
//   sidebarWidth: $sidebar-width;
//   colorDark: $color-dark;
// }
