<template>
  <img
    v-if="!!image"
    @click="handleClick"
    :class="[ 'Image', { clickable: props.callback!!}, `${selectedSize}`] "
    :src="image"
  />
  <Skeleton v-else :loading="!!!image" active avatar />
</template>

<script lang="ts" setup>
import { loadImgSrc } from "~~/client/lib/core/utils/loadImgSrc";

const props = defineProps({
  callback: {
    type: Function,
    default: undefined,
  },
  href: {
    type: String,
    default: undefined,
  },
  to: {
    type: [String, Object],
    default: undefined,
  },
  size: {
    type: String,
    default: "custom",
  },
  path: { type: String },
});

const image = ref();
// notice to parent comp when finishing import img
const emit = defineEmits(["customLoading"]);
watch(image, () => {
  emit("customLoading", !!image.value);
});

watchEffect( async () => {
    image.value = await loadImgSrc(props.path);
})
// onMounted(() => console.log(props.path))
// watch(props, () => console.log(props.path));
//styles
const sizes = reactive<{ [key: string]: string }>({
  lg: "large",
  md: "middle",
  sm: "small",
  custom: "custom",
});
// methos
const handleClick = (e) => {
  // console.log("handle click on icon");
  const router = useRouter();
  if (props.to) {
    router.push(props.to);
    return;
  } else if (props.href) {
    window.open(props.href);
  }

  if (props.callback) props.callback();
};

//computed
const selectedSize = computed(() => sizes[props.size]);
</script>

<style lang="scss">
.Image {
  img,
  &img {
    &.small {
      width: 24px;
      height: 24px;
    }

    &.medium {
      width: 32px;
      height: 32px;
    }

    &.large {
      width: 36px;
      height: 36px;
    }
  }
}
</style>
