<template>
  <NuxtLink v-if="to" tag="a" :to="to" :class="`LinkWrapper`">
    <slot>{{ text}}</slot>
  </NuxtLink>

  <a v-else :class="`LinkWrapper`" :href="href">
    <slot>{{ text}}</slot>
  </a>
</template>

<script lang="ts" setup>
// micro compiler
const props = defineProps({
  text: {
    type: String,
    default: '',
  },
  to: {
    type: [String, Object],
    default: undefined,
  },
  href: {
    type: String,
    default: '',
  },
})

// state
const href = toRef(props, 'href')
const to = toRef(props, 'to')
</script>

<style lang="scss">
.LinkWrapper {

  font-family: "Rubik", sans-serif;
  font-weight: 600;
  line-height: 1;

  @include transition(0.3s);

  &:hover {
    color: gold;
    text-decoration: none;
  }
}
</style>


